html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

/*----------------------------------------------------
http://mystrd.at/modern-clean-css-sticky-footer
-----------------------------------------------------*/
/*html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 0 100px; /* bottom = footer height 
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#eee;
    text-align:center;
    padding:5px;
}*/
/* End Sticky Footer */

/*----------------------------------------------------
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
-----------------------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links  >a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* Flash messages shown at the top of the page */
.message {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:5px;
    text-align:center;
    font-size:18px;
    background-color:yellow;
}