html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.intro{
    display:block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
    margin:  0 10% 10px 10%;
    font: 15px arial, sans-serif;
}

.instructions{
    display:block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
    margin:  0 10% 10px 10%;
    text-align:left;
    font: 15px 'Raleway', sans-serif;
}

.content {
    padding:25px;
    max-width:960px;
    margin:auto;
}
header {
    text-align:center;
}
section {
    text-align:center;
}
.links >a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.message {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:5px;
    text-align:center;
    font-size:18px;
    background-color:yellow;
}

.required{
    font-style: italic;
}

label, legend {
    display:block;
    margin-top:20px;
    margin-bottom:0;
}

input[type=text],[type=number], textarea, select {
    display:block;
    width:100%;
    font-size:1.5rem;
    padding:3px;
    font-family:Raleway, Courier, monospace;
}

input[type='checkbox'] {
    display:inline;
}

input[type='checkbox'] + label {
    display:inline;
}

label {
    margin-top:20px;
    display:block;
    font-size:12px;
    font-size:1.2rem;
    letter-spacing:.75px;
    font-weight:bold;
    text-transform:uppercase;
    text-align:left;
}
